body,
html {
  height: 100%;
  overflow: hidden;
}

#main-content {
  height: 100%;
  overflow: hidden;

  position: relative;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  overflow: hidden;
}
#imgC {
  max-width: 2000px;
  height: 100%;
  background-image: url("/home/stanislav/artrium/img/careers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -250px;
  overflow: hidden;
}
img {
  width: 105%;
}
#onAbove {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#textContainer {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
  top: 50%;
  width: 80%;
  height: 100px;
  box-sizing: border-box;
}
#first,
#middle,
#last {
  position: relative;
  display: inline-block;
  width: 33.3%;
  box-sizing: border-box;
  height: 50%;
  color: white;
  font-size: 28px;
  text-align: center;
  text-decoration: underline red;
  text-decoration-thickness: 4px;
  text-underline-position: under;
  font-style: italic;
}
#hireBtn {
  position: relative;
  height: 50%;
  width: 70%;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
}
#btn {
  background: rgb(25, 103, 180);
  border: none;
  height: 40px;
  width: 350px;
  color: white;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
}
#btn:hover {
  background: rgb(21, 114, 207);
}

/* #logo {
  animation-name: logoAnima;
  animation-duration: 3s;
  z-index: 5;
}
@keyframes logoAnima {
  0% {
    left: 1200px;
  }

  70% {
    top: 100px;
    transform: rotate(720deg);
  }
  100% {
    left: 40px;
    transform: rotate(1080deg);
  }
} */

#first {
  animation-name: fAnima;
  animation-duration: 1s;
}
#middle {
  animation-name: fAnima;
  animation-duration: 1s;
}
#last {
  animation-name: fAnima;
  animation-duration: 1s;
}
#hireBtn {
  animation-name: fAnima;
  animation-duration: 2s;
}

@keyframes fAnima {
  0% {
    top: 500px;
  }

  100% {
    top: 0px;
  }
}
