#header{
    height: 60px;
    width: 100%;
    position:fixed;
    background-color: black;
    }

    #menu{
        position: absolute;
        left: 130px;
        width: 60%;
        height: inherit;
    }


    #menu div{
        display: inline-block;
        height: inherit;
        position: relative;
        width: 140px;
        padding-left: 10px;
padding-right: 10px;
    }

    #menu div:hover{
        background-color: red;
        cursor: pointer;
    }
    #menu #home{
        width: 100px; 
    }



    #right-part{
        width: 280px;
        height: inherit;
        position: absolute;
        right: 0;
    }
    #signin{
        width: 100px;
        height: inherit;
    }
    #signinBtn{
        width: 100px;
        background-color: red;
        color:white;
        border:0;
        border-radius:  5px;
        font-size: 18px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 5px;
        font-family: Arial, Helvetica, sans-serif;
    }
    #signinBtn:hover{
        background-color: DodgerBlue;
        cursor: pointer;
        transform:  translateY(-50%) scale(1.1);
    }

    #cart{
        position: absolute;
        right: 80px;
        top:50%;
        transform: translateY(-50%);
        transition: all 0.2s;
    }
    #cart:hover{
        cursor: pointer;
        transform: scale(1.4) translateY(-50%);
    }



    #menu span:not(.material-symbols-outlined){
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        white-space: nowrap;
    }

    #menu a{
        text-decoration: none;
        position: relative;
        bottom: 3px;
        color:white;
        font-size: 18px;
        
    }
  .material-symbols-outlined{
    color: white;
  }