#header {
  height: 60px;
  width: 100%;
  max-width: 2000px;
  position: fixed;
  background-color: black;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
}

#menu {
  position: absolute;
  left: 130px;
  width: 65%;
  height: inherit;
}

#menu div {
  display: inline-block;
  height: inherit;
  position: relative;
  width: 140px;
  padding-left: 5px;
  padding-right: 5px;
}

#menu div:hover {
  background-color: red;
  cursor: pointer;
}
#menu div:active {
  background-color: rgb(160, 7, 7);
}
#menu #home {
  width: 100px;
}

#right-part {
  width: 280px;
  height: inherit;
  position: absolute;
  right: 0;
}
#signin {
  width: 100px;
  height: inherit;
}
#signinBtn {
  width: 100px;
  background-color: red;
  color: white;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
#signinBtn:hover {
  background-color: DodgerBlue;
  cursor: pointer;
  transform: translateY(-50%) scale(1.1);
}
#signinBtn:active {
  background-color: rgb(38, 110, 182);
}

#cart {
  position: absolute;
  right: 80px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s;
}
#cart:hover {
  cursor: pointer;
  transform: scale(1.4) translateY(-50%);
}

#menu span:not(.material-symbols-outlined) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

#menu a {
  text-decoration: none;
  position: relative;
  bottom: 3px;
  color: white;
  font-size: 18px;
}
.material-symbols-outlined {
  color: white;
}

#logo {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: 40px;
  width: 50px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
}
#logo:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@media screen and (max-width: 1130px) {
  #menu div {
    width: 120px;
  }
  #right-part {
    width: 220px;
  }
  #cart {
    right: 40px;
  }
}
@media screen and (max-width: 1000px) {
  #logo {
    display: none;
  }
  #menu div {
    width: 120px;
  }
  #right-part {
    width: 200px;
  }
  #cart {
    right: 40px;
  }
  #menu {
    width: 80%;
    left: 0;
  }
}
@media screen and (max-width: 400px) {
  #signin {
    display: none;
  }
}

#signinF {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 430px;
  height: 270px;
  background-color: black;
  color: white;
  border-radius: 5px;
  box-shadow: 8px 8px 3px 0 rgba(0, 0, 0, 0.1),
    0 12px 20px 0 rgba(0, 0, 0, 0.59);
  z-index: 4;
}
#signinF h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 10px;
  font-weight: bold;
}
#login {
  width: 95%;
  box-sizing: border-box;
  height: 30px;
}
#loginDiv,
#passwordDiv {
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 95%;
  box-sizing: border-box;
}
#signinF a {
  margin: auto;
  text-align: center;
  display: block;
  margin-top: 5px;
}
#passwordDiv {
  margin-bottom: 0;
}
#password {
  width: 95%;
  box-sizing: border-box;
  height: 30px;
}

#doSignIn {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  color: white;
  font-size: 20px;
  background-color: red;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#doSignIn:hover {
  background-color: dodgerblue;
}
#signInBtn {
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 15px;
  /*     box-sizing: border-box; */
}
#close {
  color: white;
  transform: rotate(45deg);
  position: absolute;
  top: -3px;
  right: 7px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

#cartForm {
  width: 400px;
  height: 420px;
  position: fixed;
  top: 45px;
  right: 0;
  background-color: white;
  z-index: 3;
  float: right;
  border-radius: 6px;
  border-top-right-radius: 0;
  box-shadow: 8px 8px 3px 0 rgba(0, 0, 0, 0.1),
    0 12px 20px 0 rgba(0, 0, 0, 0.59);
  display: none;
  border-top: 10px solid black;
  box-sizing: border-box;
  background-color: black;
}
.cartItem{
  width: 100%;
  height: 95px;
  background-color: black;
  color:white;
  padding: 15px;
}
.cartItem img{
  width: 100px;
  height: 90px;
  float: left;
  object-fit: cover;
  margin-right:10px;
  cursor: pointer;
  box-sizing: border-box;

}
.cartItem img:hover{
   border: 1px solid red;
}
.cartAuthor,.cartPrice{
  margin-top: 10px;
  font-style: italic;
}
.cartTitle{
  font-style: italic;
}
#getAll{
  display: block;
  width: 40%;
  margin:0 auto;
  border: none;
  background-color: red;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  padding: 3px;
  margin-top: -8px;
  cursor:pointer;
  font-family: Arial, Helvetica, sans-serif;
}
#getAll:hover{
  background-color: dodgerblue
}
#getAll:active{
    background-color: rgb(35, 117, 199)
}
.cartHeader{
  transition: all 0.3s;
  cursor: pointer;
}

.cartHeader:hover{
  text-indent: 8px
}















