body {
  margin: 0;
  background-color: #0f0e0e;
}

#main-content {
  position: relative;
  top: 60px;
  margin: 0 auto;
}
#slider-outer {
  width: 100%;
  max-width: 2000px;
  height: 650px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
#slider-inner {
  width: inherit;
  height: inherit;
}
#slider-inner img {
  position: absolute;
  width: inherit;
  height: inherit;
  transition: all 1s;
  object-fit: cover;
}

#left,
#right {
  width: 27px;
  height: 30px;
  font-size: 20px;
  color: gray;
  background-color: white;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  box-shadow: 8px 8px 3px 0 rgba(0, 0, 0, 0.1),
    0 12px 20px 0 rgba(0, 0, 0, 0.59);
}
#left:hover,
#right:hover {
  opacity: 1;
  color: #0f0e0e;
  background-color: red;
}
#slider-inner {
  position: relative;
}

#left {
  position: absolute;
  top: 50%;
  left: 1%;
  z-index: 1;
  transform: translateY(-150%);
}
#right {
  position: absolute;
  top: 50%;
  right: 1%;
  z-index: 1;
  transform: translateY(-150%);
}

@media screen and (max-width: 1400px) {
  #slider-outer {
    height: 550px;
  }
}
@media screen and (max-width: 1200px) {
  #slider-outer {
    height: 450px;
  }
}
@media screen and (max-width: 700px) {
  #slider-outer {
    height: 350px;
  }
}
@media screen and (max-width: 500px) {
  #slider-outer {
    height: 250px;
  }
}
@media screen and (max-width: 350px) {
  #slider-outer {
    height: 150px;
  }
}

/* temp */
@media screen and (max-width: 880px) {
  #menu {
    display: none;
  }
}
#newPaintings h1 {
  color: white;
  font-size: 40px;
  position: relative;
  top: 70px;
  text-align: center;
}
.newPaint {
  /* border: 1px solid red; */
  width: 33.3%;
  height: 300px;
  float: left;
  box-sizing: border-box;
}
#newPaintContainer {
  position: relative;
  top: 100px;
}
.paintInner {
  height: 90%;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: all 0.4s;
}
.paintInner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 0;
  margin: 0 auto;
  color: white;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.top {
  height: 40%;
  width: 100%;
  position: absolute;
  top: 0;
}
.bottom {
  height: 60%;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.name {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  text-align: center;
  font-size: 26px;
}
.author {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  text-align: center;
  font-size: 18px;
}
.paintInner:hover .overlay {
  display: block;
}
.paintInner:hover {
  width: 95%;
  height: 95%;
}

.buyBtn {
  background-color: dodgerblue;
  width: 120px;
  height: 35px;
  position: absolute;
  bottom: 20px;
  right: 30px;
  cursor: pointer;
  line-height: 35px;
  border-radius: 0.5rem;
  overflow: hidden;
  z-index: 0;
  text-align: center;
}
.price {
  position: absolute;
  bottom: 25px;
  left: 45px;
  color: white;
  font-size: 24px;
  border-bottom: 5px solid red;
  transition: all 0.2s;
}
.price:hover {
  transform: scale(1.15);
}

.innerBtn {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: red;
  transition: 0.3s linear;
  z-index: -1;
}
.buyBtn:active .innerBtn {
  background: #b31b10;
  transition: none;
}

.buyBtn:hover .innerBtn {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .newPaint {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .newPaint {
    width: 100%;
  }
}
.additional {
  display: none;
}
@media screen and (min-width: 1550px) {
  .newPaint {
    width: 25%;
  }
  .additional {
    display: block;
  }
}
#newPaintContainer {
  max-width: 2000px;
  margin: 0 auto;
}
#newPaintings h1 {
  font-family: Georgia, serif;
}
