body {
  margin: 0;
  background-color: #0f0e0e;
}

#main-content {
  position: relative;
  top: 60px;
  margin: 0 auto;
}
#slider-outer {
  width: 100%;
  max-width: 2000px;
  height: 650px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
#slider-inner {
  width: inherit;
  height: inherit;
}
#slider-inner img {
  position: absolute;
  width: inherit;
  height: inherit;
  transition: all 1s;
  object-fit: cover;
}

#left,
#right {
  width: 27px;
  height: 30px;
  font-size: 20px;
  color: gray;
  background-color: white;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  box-shadow: 8px 8px 3px 0 rgba(0, 0, 0, 0.1),
    0 12px 20px 0 rgba(0, 0, 0, 0.59);
}
#left:hover,
#right:hover {
  opacity: 1;
  color: #0f0e0e;
  background-color: red;
}
#slider-inner {
  position: relative;
}

#left {
  position: absolute;
  top: 50%;
  left: 1%;
  z-index: 1;
  transform: translateY(-150%);
}
#right {
  position: absolute;
  top: 50%;
  right: 1%;
  z-index: 1;
  transform: translateY(-150%);
}
