html {
  overflow-x: hidden;
}

#pName,
#pAuthor {
  color: white;
  font-style: italic;
}
#pName {
  margin-top: 0px;
  margin-bottom: -10px;
}
#headers {
  position: relative;
  top: 20px;
  max-width: 2000px;
  margin: 0 auto;
}
#gallery {
  position: relative;
  top: 20px;
  box-sizing: border-box;
}
#mainSlide {
  width: 850px;
  height: 450px;
  box-sizing: border-box;
  margin: 0 auto;
}
#slideList {
  width: 850px;
  height: 100px;
  box-sizing: border-box;
  margin: 0 auto;
}
#mainSlide img {
  width: inherit;
  height: inherit;
}
#slideList img {
  height: inherit;
  width: 141.5px;
  object-fit: cover;
  box-sizing: border-box;
  border: 2px solid white;
  border-collapse: collapse;
  cursor: pointer;
}
#slideList img:hover {
  opacity: 0.8;
}
#container {
  width: 850px;
  margin: 0 auto;
}
#scrollTextC {
  width: 800px;
  height: 405px;
  position: relative;
  top: 30px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-bottom: 30px;
}
#scrollText {
  width: 800px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  top: 5px;
  overflow-y: scroll;
  color: white;
  background-color: black;
  padding: 10px;
  box-sizing: border-box;
}
#progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  /* width: 0; */
  background-color: red;
  box-sizing: border-box;
}
#scrollText::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#scrollText::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
#scrollText::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
#scrollText::-webkit-scrollbar-thumb:hover {
  background: #555;
}
